.header {
  line-height: 1 !important;

  .headerRow {
    .title {
      font-size: 30px;
    }

    .likesBadge {
      color: #fff;
    }
  }

  .loginTxt {
    color: #fff;
    margin-bottom: .5rem;
  }

  @media (max-width: 767px) {
    height: 80px;
    padding: 0 15px;

    .headerRow {
      .title {
        font-size: 25px;
      }
    }
  }

  @media (max-width: 350px) {
    .headerRow {
      .title {
        font-size: 20px;
      }
    }
  }
}



